<div class="row">
    
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-6">
            <app-b>
                <h4  class="title">Raju</h4>
                <h1  class="quality">Good</h1>
            </app-b>    
            </div>
            <div class="col-md-6">
                <app-b>
                    <h4  class="title">Udaybhan</h4>
                    <h1  class="quality">Good</h1>
                </app-b>    
                </div>
                <div class="col-md-6">
                    <app-b>
                        <h4  class="title">mohan</h4>
                        <h1  class="quality">Good</h1>
                    </app-b>    
                    </div>
                    <div class="col-md-6">
                        <app-b>
                            <h4  class="title">sohan</h4>
                            <h1  class="quality">Good</h1>
                        </app-b>    
                        </div>
        </div>
    </div>
</div>

<app-timer [countDownDate] = "expireTime"></app-timer>