.mg {
    margin: auto;
    width: 60%;
    margin-top: 10%;
}

.card-header{
    background-color: blue;
    color: white;
}

label{
    font-weight: bold;
}

img {
    width: 6rem;
    border-radius: 50%;
}