
<app-sidebar></app-sidebar>
<div class="container">
  
    <div class="row">
      <div class="mg">
        <div class="card">
          <div class="card-header">
            Add MMV
          </div>
          <br>
          <form #mmvForm="ngForm" (ngSubmit)="onSubmit(mmvForm)" enctype="multipart/form-data" novalidate>
            <div class="form-group">
              <label>Name</label>
              <input type="text" name="name" #name="ngModel" class="form-control" [(ngModel)]="model.name" required>
              <small class="text-danger" [class.d-none]="name.valid || name.untouched">Please Enter Name.</small>
            </div>
            
            <div class="form-group">
              <label>Image</label><br>
              <input type="file" name="image" (change)="imgonChange($event)" /><br>
              <img *ngIf="selectedFile" [src]="imgUrl" name="preview" style="width:4rem;height:4rem" />
            </div> 

            <div class="form-group">
              <label>modal</label>
              <input type="email" class="form-control" #modal="ngModel" name="email" [(ngModel)]="model.modal" required>
              <small class="text-danger" [class.d-none]="modal.valid || modal.untouched">Please Enter Modal.</small>
            </div>
          
            <div class="form-group">
              <label >Price:</label>
              <input type="number" #price="ngModel" class="form-control"  name="price"
                [(ngModel)]="model.price" required />
                <small class="text-danger" [class.d-none]="price.valid || price.untouched">Please Enter Price.</small>
            </div>
                   
            <div class="form-group">
              <label>Category</label>
              <select name="category" class="form-control"  [(ngModel)]="model.category" required>
                  <option value="">Select Category</option>
                  <option *ngFor="let ct of category" [value]="ct.value">{{ct.name}}</option>
              </select>
              <!-- <small class="text-danger" [class.d-none]="category.valid || category.untouched">Please Select Category.</small> -->
            </div>
          
            <div class="form-group">
              <button class="btn btn-danger btn-block">Submit</button>
            </div>
          </form>
        
        </div>
       
      </div>
     
    </div>
    <br>
    <!--  -->
    <div class="card" style="width: 60%; margin: auto;">
      <div *ngIf="showTable">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%; margin: auto;">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="imagePath">
              <th mat-header-cell *matHeaderCellDef> Image. </th>
              <td mat-cell *matCellDef="let element"> <img [src]="element.imagePath"> </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name. </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="modal">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.modal}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef> Price </th>
              <td mat-cell *matCellDef="let element"> {{element.price}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef> category </th>
              <td mat-cell *matCellDef="let element"> {{element.category}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element">
                  <a [routerLink]="[element._id + '/edit']"
                        ><button
                          mat-raised-button
                          class="btn-add btn-primary"
                        >
                        {{ 'Edit' }}
                        </button>
                      </a>
                </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <mat-paginator [length]="100"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
          </table>
         
    </div>
    <div class="row">
      <mat-paginator [length]="100"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
    </div>
   
   
  </div>
  