

<div class="container">
    <div class="row">
      <div class="mg">
        <div class="card">
          <div class="card-header">
            Edit MMV
          </div>
          <br>
          <form #mmvForm="ngForm" (ngSubmit)="onSubmit(mmvForm)">
            <div class="form-group">
              <label>Name</label>
              <input type="text" name="name" #name="ngModel" class="form-control" [(ngModel)]="model.name" required>
              <small class="text-danger" [class.d-none]="name.valid || name.untouched">Please Enter Name.</small>
            </div>
            <div class="form-group">
              <label>Image</label><br>
              <input type="file" name="image" (change)="imgonChange($event)" /><br>
              <img *ngIf="selectedFile" [src]="imgUrl" name="preview" style="width:4rem;height:4rem" />
            </div> 
            <div class="form-group">
              <label>modal</label>
              <input type="email" class="form-control" #modal="ngModel" name="email" [(ngModel)]="model.modal" required>
              <small class="text-danger" [class.d-none]="modal.valid || modal.untouched">Please Enter Modal.</small>
            </div>
          
            <div class="form-group">
              <label >Price:</label>
              <input type="number" #price="ngModel" class="form-control"  name="price"
                [(ngModel)]="model.price" required />
                <small class="text-danger" [class.d-none]="price.valid || price.untouched">Please Enter Price.</small>
            </div>
                   
            <div class="form-group">
              <label>Category</label>
              <select name="category" class="form-control"  [(ngModel)]="model.category" required>
                  <option value="">Select Category</option>
                  <option *ngFor="let ct of category" [value]="ct.value">{{ct.name}}</option>
              </select>
              <!-- <small class="text-danger" [class.d-none]="category.valid || category.untouched">Please Select Category.</small> -->
            </div>
          
            <div class="form-group">
              <button class="btn btn-danger btn-block">Submit</button>
            </div>
          </form>
        </div>
       
      </div>
     
    </div>
    <br>
    <!--  -->
   
  </div>
  